*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
::-webkit-scrollbar{
    display: none;
}
body{
    height: 4000px;
    background: linear-gradient(to top,rgb(2,2,2), #B3B0A9);
    width: 100%;
}
header{
    background-color:rgb(2, 2, 2);
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
}
li{
    list-style: none;
}
a{
    color:#B3B0A9;
    text-decoration: none;
}
a:hover{
    color: white;
}
.navbar{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:0px;
    padding-bottom: 0px;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;
}
.nav-link{
    transition: 0.5s ease;
}
.nav-link:hover{
    color: white;
}
.hamburguer{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #B3B0A9;
    transition: all 0.3s ease-in-out;
}
@media (max-width:768px){
   .hamburguer{
       display: block;
   }
   .hamburguer.active .bar:nth-child(2){
       opacity: 0;
   }
   .hamburguer.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 50px 0;
        background-color: rgb(2, 2, 2);
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
}

